.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    position: relative;
  }
  
  .logo {
    width: 150px;
    margin-bottom: 20px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-form input {
    margin-bottom: 10px;
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form button {
    padding: 10px;
    width: 220px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .social-login-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .social-login {
    background: none;
    border: none;
    margin: 0 10px; /* 버튼 가로 길이의 반 */
    cursor: pointer;
  }
  
  .social-login img {
    width: 50px;
    height: 50px;
  }
  
  footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #888;
  }
  